.form-sprint{
    max-width: 100%;
    padding: 15px 35px 45px;
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
    //background-color: #fff;
    //border: 1px solid rgba(0,0,0,0.1); 
  }
  .form-control {
      position: relative;
      font-size: 16px;
      height: auto;
     // padding: 10px;
    }